---
import AppLayout from "../../layouts/AppLayout.astro";
---

<AppLayout title="Field Guide">
	<div class="flex flex-col gap-6">
		<p class="text-[var(--color-text-muted)]">Species search and field guide will live here.</p>
	</div>
</AppLayout>
