---
import AppLayout from "../../layouts/AppLayout.astro";
import MapView from "../../components/MapView.vue";
---

<AppLayout title="Map" fullScreen>
	<div class="h-[calc(100vh-4rem)] md:h-screen">
		<MapView client:load />
	</div>
</AppLayout>

<style is:global>
	@import "maplibre-gl/dist/maplibre-gl.css";
</style>
