---
import AppLayout from "../../layouts/AppLayout.astro";
---

<AppLayout title="Map">
	<div class="flex h-full items-center justify-center">
		<p class="text-[var(--color-text-muted)]">MapLibre GL map will render here.</p>
	</div>
</AppLayout>
